@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

p {
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

table,
tr,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

caption {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

fieldset {
  border: 0;
}

legend {
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

input,
label {
  vertical-align: middle;
}

input {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

header {
  width: 100%;
  height: auto;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 9999;
}

main {
  width: 100%;
  height: auto;
  margin-top: 120px;
}

section {
  scroll-margin-top: 120px;
  width: 100%;
  height: auto;
  padding: 140px 0;
  display: flex;
  justify-content: center;
  position: relative;
}

section::after {
  display: block;
  content: '';
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 10;
  transform: translate(-50%, 50%);
  background-image: url(/images/deco-img-10.svg);
}

section#home::after, section#blog::after {
  background-image: url(/images/deco-img-9.svg);
}

section#cta::after {
  display: none;
}

footer {
  height: auto;
  padding: 140px 0 80px;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  width: 61%;
}

.container-fluid {
  width: 100%;
}

.title-group {
  position: relative;
  width: 60%;
  text-align: center;
  margin: 0 auto 100px;
}

.title-group h2 {
  font-size: 3.7rem;
  line-height: 120%;
  letter-spacing: -0.05em;
}

.title-group p {
  margin-top: 20px;
  font-size: 1.4rem;
  color: #4D4D4D;
}

h3 {
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.btn {
  display: inline-block;
  width: auto;
  height: auto;
  font-weight: bold;
  padding: 24px 48px;
  background-color: #000;
  color: #fff;
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
  transition: all ease 0.2s;
}

.btn:hover {
  background-color: #CD4631;
}

.btn:active {
  background-color: #d76a5a;
}

header {
  background-color: #F7EDE8;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .logo {
  height: 74px;
}

header .container .logo img {
  height: 100%;
}

header .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
}

header .menu li {
  padding: 8px 3%;
  text-align: center;
}

header .menu li a {
  display: block;
}

header .menu li a img {
  transform: translate(0, 3px);
}

header .menu li a:hover {
  color: #CD4631;
}

header .menu li .on {
  color: #CD4631;
}

header .btn-group {
  display: flex;
  gap: 20px;
}

header .btn-group a {
  padding: 12px 24px;
  text-align: center;
}

header .btn-group a:first-child {
  box-shadow: none;
  background-color: #F7EDE8;
  color: #000;
}

header .btn-group a:first-child:hover {
  background-color: #81ADC8;
}

header .btn-group a:first-child:active {
  background-color: #a5c4d7;
}

header .btn-group a:last-child {
  display: flex;
  align-items: center;
}

header .mobile-btn {
  display: none;
  position: absolute;
  width: 33px;
  height: 25px;
  right: 10%;
  top: 36px;
}

header .mobile-btn span {
  transition: all ease 0.4s;
  position: absolute;
  content: '';
  display: block;
  width: 33px;
  height: 3px;
  background-color: #000;
}

header .mobile-btn span:nth-child(2), header .mobile-btn span:nth-child(3) {
  transform: translate(0, 11px) rotate(0deg);
}

header .mobile-btn span:nth-child(4) {
  transform: translate(0, 22px);
}

header .mobile-btn:hover span:nth-child(1), header .mobile-btn:hover span:nth-child(4) {
  display: none;
}

header .mobile-btn:hover span:nth-child(2) {
  transform: translate(0, 11px) rotate(45deg);
}

header .mobile-btn:hover span:nth-child(3) {
  transform: translate(0, 11px) rotate(-45deg);
}

#home {
  background: linear-gradient(#F7EDE8, #f0ded5);
}

#home .container-fluid {
  z-index: 1;
}

#home .container-fluid::before {
  z-index: 0;
  content: '';
  position: absolute;
  width: 31%;
  height: 38%;
  left: -7%;
  top: 2%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/images/deco-img-1.png);
  animation-name: leftRight;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#home .container-fluid::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 8%;
  height: 16%;
  right: 6%;
  top: 6%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/images/deco-img-2.png);
  animation-name: upDown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes leftRight {
  0% {
    left: -7%;
  }
  60% {
    left: -6%;
  }
  100% {
    left: -7%;
  }
}

@keyframes upDown {
  0% {
    top: 6%;
  }
  40% {
    top: 7%;
  }
  100% {
    top: 6%;
  }
}

#home .container-fluid .title-group h1 {
  height: 192px;
  font-size: 6rem;
  line-height: 100%;
  letter-spacing: -0.05em;
}

#home .container-fluid .title-group h1 span {
  display: block;
  color: #CD4631;
}

#home .container-fluid .title-group p {
  width: 27rem;
  margin: 40px auto 60px;
}

#home .container-fluid .cover-slider {
  height: auto;
  margin-bottom: 120px;
}

#home .container-fluid .cover-slider .swiper-slide .slide {
  position: relative;
  width: 100%;
}

#home .container-fluid .cover-slider .swiper-slide .slide:hover > img {
  filter: brightness(0.8);
}

#home .container-fluid .cover-slider .swiper-slide .slide > img {
  width: 100%;
  border-radius: 12px;
  transition: all ease 0.2s;
}

#home .container-fluid .cover-slider .swiper-slide .slide .caption {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#home .container-fluid .cover-slider .swiper-slide .slide .caption .platform-icon-group {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  display: flex;
  gap: 10px;
}

#home .container-fluid .cover-slider .swiper-slide .slide .caption .platform-icon-group a {
  display: inline-block;
}

#home .container-fluid .cover-slider .swiper-slide .slide .caption .platform-icon-group a:hover {
  filter: brightness(0.8);
}

#home .container-fluid .cover-slider .swiper-slide .slide .caption h3 {
  position: absolute;
  left: 1.25rem;
  bottom: 1.25rem;
  font-size: 2.29rem;
  letter-spacing: -0.05em;
  color: #81ADC8;
}

#home .container-fluid .support-group {
  width: 67%;
  height: 124px;
  margin: auto;
  padding-right: 5%;
  border-top: 1px solid #4D4D4D;
  border-bottom: 1px solid #4D4D4D;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home .container-fluid .support-group h4 {
  font-size: 1.4rem;
}

#about .container .contents {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 120px;
}

#about .container .contents .content {
  width: 35%;
  height: auto;
  text-align: center;
}

#about .container .contents .content img {
  height: 17rem;
  margin-bottom: 40px;
}

#about .container .review {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #F7EDE8;
  border-radius: 8px;
  padding: 40px 0;
  text-align: center;
}

#about .container .review::before {
  content: '';
  position: absolute;
  width: 32%;
  height: 32%;
  left: -5%;
  top: 60%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/images/deco-img-3.svg);
}

#about .container .review::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 40%;
  left: 92%;
  top: -17%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/images/deco-img-4.svg);
}

#about .container .review > p {
  display: inline-block;
  width: 60%;
  font-size: 2.29rem;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 40px;
}

#about .container .review > p span {
  display: block;
  font-size: 6rem;
  color: #CD4631;
  line-height: 1;
}

#about .container .review .writer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#about .container .review .writer img {
  height: 56px;
  border-radius: 50%;
  margin-right: 10px;
}

#about .container .review .writer p {
  font-size: 0.875rem;
  margin-right: 10px;
}

#about .container .review .writer .name-platform {
  display: flex;
  align-items: center;
}

#about .container .review .writer .name-platform div {
  display: flex;
  align-items: center;
}

#about .container .review .writer .platform-icon {
  height: 16px;
  margin-right: 8px;
}

#testimonials {
  background-color: #EDF3F7;
}

#testimonials .container-fluid .title-group::before {
  content: '';
  position: absolute;
  width: 7%;
  height: 70%;
  left: 16%;
  top: -39%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/images/deco-img-5.svg);
}

#testimonials .container-fluid .review-slider {
  transform: translate(-15%, 0);
  overflow: visible;
}

#testimonials .container-fluid .review-slider .swiper-wrapper {
  margin-bottom: 60px;
}

#testimonials .container-fluid .review-slider .swiper-wrapper .review {
  width: 570px;
  height: auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
}

#testimonials .container-fluid .review-slider .swiper-wrapper .review > p {
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 40px;
}

#testimonials .container-fluid .review-slider .swiper-wrapper .review > p span {
  display: block;
  height: 33px;
  font-size: 6rem;
  color: #CD4631;
  line-height: 0.9;
  margin-bottom: 33px;
}

#testimonials .container-fluid .review-slider .swiper-wrapper .review .writer {
  display: flex;
  align-items: center;
}

#testimonials .container-fluid .review-slider .swiper-wrapper .review .writer img {
  height: 56px;
  border-radius: 50%;
  margin-right: 10px;
}

#testimonials .container-fluid .review-slider .swiper-wrapper .review .writer p {
  font-size: 0.875rem;
  margin-right: 10px;
}

#testimonials .container-fluid .review-slider .swiper-wrapper .review .writer .name-platform {
  display: flex;
  align-items: center;
}

#testimonials .container-fluid .review-slider .swiper-wrapper .review .writer .name-platform div {
  display: flex;
  align-items: center;
}

#testimonials .container-fluid .review-slider .swiper-wrapper .review .writer .platform-icon {
  height: 16px;
  margin-right: 8px;
}

#testimonials .container-fluid .swiper-button {
  width: 61%;
  height: 37px;
  margin: auto;
}

#testimonials .container-fluid .swiper-button .swiper-button-prev,
#testimonials .container-fluid .swiper-button .swiper-button-next {
  float: left;
  width: 37px;
  position: relative;
  text-indent: -9999px;
  background-size: contain;
}

#testimonials .container-fluid .swiper-button .swiper-button-prev:hover svg path[stroke],
#testimonials .container-fluid .swiper-button .swiper-button-next:hover svg path[stroke] {
  stroke: #CD4631;
}

#features .container .title-group::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 180px;
  left: 76%;
  top: -83%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(10deg);
  background-image: url(/images/deco-img-6.svg);
}

#features .container .features-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#features .container .features-group li {
  width: 29%;
  height: 200px;
  text-align: center;
  margin-bottom: 80px;
}

#features .container .features-group li img {
  height: 75px;
  margin-bottom: 30px;
}

#features .container .features-group li h3 {
  margin-bottom: 10px;
}

#features .container .features-group li:last-child {
  margin-bottom: 100px;
}

#features .container p {
  text-align: center;
}

#episodes {
  background-color: #F7EDE8;
}

#episodes .container .episodes-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

#episodes .container .episodes-cards::before {
  content: '';
  position: absolute;
  width: 250px;
  height: 180px;
  left: 94%;
  top: -13%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/images/deco-img-7.svg);
}

#episodes .container .episodes-cards .episodes-card {
  width: 49%;
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  margin-bottom: 20px;
  transition: all ease 0.3s;
}

#episodes .container .episodes-cards .episodes-card:last-child {
  margin-bottom: 100px;
}

#episodes .container .episodes-cards .episodes-card:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 #81ADC8;
}

#episodes .container .episodes-cards .episodes-card:hover .top-box .text-group h3 {
  color: #CD4631;
}

#episodes .container .episodes-cards .episodes-card .top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#episodes .container .episodes-cards .episodes-card .top-box img {
  width: 166px;
  border-radius: 8px;
  margin-right: 1.25rem;
}

#episodes .container .episodes-cards .episodes-card .top-box .text-group h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #4D4D4D;
}

#episodes .container .episodes-cards .episodes-card .top-box .text-group h3 span {
  display: block;
  font-size: 1rem;
  color: #CD4631;
}

#episodes .container .episodes-cards .episodes-card .top-box .text-group p {
  color: #4D4D4D;
}

#episodes .container .episodes-cards .episodes-card .bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#episodes .container .episodes-cards .episodes-card .bottom-box .hashtag {
  height: auto;
}

#episodes .container .episodes-cards .episodes-card .bottom-box .hashtag span {
  display: inline-block;
  height: auto;
  padding: 6px 12px;
  border: 1px solid #4D4D4D;
  border-radius: 4px;
}

#episodes .container .episodes-cards .episodes-card .bottom-box .host {
  display: flex;
  align-items: center;
  position: relative;
  right: 25px;
}

#episodes .container .episodes-cards .episodes-card .bottom-box .host span {
  font-size: 0.75rem;
  color: #4D4D4D;
  font-weight: bold;
  margin-right: 10px;
}

#episodes .container .episodes-cards .episodes-card .bottom-box .host div {
  position: relative;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  overflow: hidden;
}

#episodes .container .episodes-cards .episodes-card .bottom-box .host div:nth-child(1) {
  margin-right: 20px;
}

#episodes .container .episodes-cards .episodes-card .bottom-box .host div:last-child {
  position: absolute;
  box-sizing: content-box;
  right: -25px;
  border: 3px solid #fff;
}

#episodes .container .episodes-cards .episodes-card .bottom-box .host div img {
  display: block;
  width: 100%;
  height: 100%;
}

#episodes .container > p {
  text-align: center;
}

#pricing .container {
  position: relative;
}

#pricing .container::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  left: 19%;
  top: -6%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/images/deco-img-7.svg);
  transform: scaleX(-1);
}

#pricing .container .pricing-cards {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#pricing .container .pricing-cards::before {
  content: '';
  position: absolute;
  width: 18%;
  height: 18%;
  left: -6%;
  top: 88%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  background-image: url(/images/deco-img-3-1.svg);
}

#pricing .container .pricing-cards::after {
  content: '';
  position: absolute;
  width: 15%;
  height: 26%;
  left: 93%;
  top: -12%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  background-image: url(/images/deco-img-4.svg);
}

#pricing .container .pricing-cards .pricing-card {
  width: 32%;
}

#pricing .container .pricing-cards .pricing-card .card-top {
  height: 22.3rem;
  padding: 16% 9% 8%;
  margin-bottom: 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pricing .container .pricing-cards .pricing-card .card-top .text-group .pricing-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#pricing .container .pricing-cards .pricing-card .card-top .text-group .pricing-name h3 {
  font-size: 2.29rem;
}

#pricing .container .pricing-cards .pricing-card .card-top .text-group .pricing-name div {
  height: auto;
  padding: 0.375rem;
  font-size: 0.75px;
  line-height: 1;
  font-weight: bold;
  background-color: #CD4631;
  color: #fff;
  border-radius: 4px;
}

#pricing .container .pricing-cards .pricing-card .card-top .text-group p {
  font-size: 0.875rem;
  color: #4D4D4D;
}

#pricing .container .pricing-cards .pricing-card .card-top .btn-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pricing .container .pricing-cards .pricing-card .card-top .btn-price .btn {
  padding: 1.25rem 2.25rem;
}

#pricing .container .pricing-cards .pricing-card .card-top .btn-price .price {
  font-size: 1.415rem;
  font-weight: bold;
  color: #CD4631;
}

#pricing .container .pricing-cards .pricing-card .card-top .btn-price .price span {
  display: block;
  font-size: 0.875rem;
  color: #4D4D4D;
}

#pricing .container .pricing-cards .pricing-card .card-bottom {
  height: 19.5rem;
  padding: 11%;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 8px;
}

#pricing .container .pricing-cards .pricing-card .card-bottom h4 {
  font-size: 0.875rem;
  color: #4D4D4D;
  margin-bottom: 20px;
}

#pricing .container .pricing-cards .pricing-card .card-bottom ul {
  list-style: disc;
  transform: translate(6%, 0);
}

#pricing .container .pricing-cards .pricing-card .card-bottom li {
  line-height: 1.6;
  margin-bottom: 10px;
}

#pricing .container .pricing-cards .pricing-card .card-bottom li:last-child {
  margin-bottom: 0;
}

#pricing .container .pricing-cards .pricing-card:nth-child(2) .card-top,
#pricing .container .pricing-cards .pricing-card:nth-child(2) .card-bottom {
  border-color: #CD4631;
  background-color: #faecea;
}

#blog .container .blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
}

#blog .container .blog-cards::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  left: -8%;
  top: -5%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(23deg);
  z-index: -1;
  background-image: url(/images/features-icon-6.svg);
}

#blog .container .blog-cards::after {
  content: '';
  position: absolute;
  width: 37%;
  height: 37%;
  left: 76%;
  top: 96%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(140deg);
  z-index: -1;
  background-image: url(/images/deco-img-6.svg);
}

#blog .container .blog-cards .blog-card {
  width: 49%;
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  transition: all ease 0.3s;
}

#blog .container .blog-cards .blog-card:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 #000;
}

#blog .container .blog-cards .blog-card:hover .text-group h3 {
  color: #CD4631;
}

#blog .container .blog-cards .blog-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 40px;
}

#blog .container .blog-cards .blog-card .text-group {
  width: 100%;
}

#blog .container .blog-cards .blog-card .text-group .category {
  font-size: 0.875rem;
  font-weight: bold;
  color: #4D4D4D;
  margin-bottom: 6px;
}

#blog .container .blog-cards .blog-card .text-group h3 {
  font-size: 2.29rem;
  margin-bottom: 20px;
}

#blog .container .blog-cards .blog-card .text-group p {
  width: 100%;
  height: 4.8em;
  margin-bottom: 20px;
  font-size: 0.875rem;
  line-height: 1.6em;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

#blog .container .blog-cards .blog-card .hashtag-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #4D4D4D;
}

#blog .container .blog-cards .blog-card .hashtag-date .hashtag {
  height: auto;
}

#blog .container .blog-cards .blog-card .hashtag-date .hashtag span {
  display: inline-block;
  height: auto;
  padding: 6px 12px;
  border: 1px solid #4D4D4D;
  border-radius: 4px;
}

#blog .container .blog-cards .blog-card .hashtag-date .date {
  font-size: 0.75rem;
  color: #4D4D4D;
  font-weight: bold;
}

#blog .container > p {
  text-align: center;
}

#cta {
  background-color: #EDF3F7;
  overflow: hidden;
}

#cta .container-fluid {
  position: relative;
  top: 0;
  left: 0;
}

#cta .container-fluid .title-group {
  width: 27%;
  margin-bottom: 140px;
}

#cta .container-fluid .title-group .deco-text {
  width: 52px;
  height: 28px;
  color: #CD4631;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 28px;
  border: 1px solid #CD4631;
  border-radius: 4px;
  margin: 0 auto 20px;
}

#cta .container-fluid p {
  text-align: center;
  margin-bottom: 24px;
  z-index: 10;
}

#cta .container-fluid p .btn {
  position: relative;
}

#cta .container-fluid p .btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  left: 81%;
  top: -93%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/images/deco-img-7.svg);
}

#cta .container-fluid .platform-group {
  width: 187px;
  margin: 0 auto;
  z-index: 10;
}

#cta .container-fluid .platform-group p {
  font-size: 0.875rem;
  color: #4D4D4D;
  text-align: center;
  margin-bottom: 10px;
}

#cta .container-fluid .platform-group div {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}

#cta .container-fluid .platform-group div a:hover img {
  filter: brightness(0.3);
}

#cta .container-fluid .platform-group div a img {
  filter: brightness(0);
}

#cta .container-fluid .left-img {
  width: 35%;
  height: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 0;
}

#cta .container-fluid .left-img .phone {
  width: 66%;
  position: absolute;
  left: 2%;
  bottom: -96%;
}

#cta .container-fluid .left-img .deco-big {
  width: 21%;
  position: absolute;
  left: 11%;
  bottom: 55%;
}

#cta .container-fluid .left-img .deco-small {
  width: 12%;
  position: absolute;
  left: 30%;
  bottom: 75%;
}

#cta .container-fluid .right-img {
  width: 35%;
  height: 100%;
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 0;
}

#cta .container-fluid .right-img .phone {
  width: 100%;
  position: absolute;
  right: -28%;
  bottom: -65%;
  z-index: 1;
}

#cta .container-fluid .right-img .deco-bundle {
  width: 29%;
  position: absolute;
  right: 45%;
  bottom: -37%;
}

footer {
  border-top: 1px solid #4D4D4D;
}

footer .container .company-sitemap-platform-app {
  display: flex;
  margin-bottom: 137px;
}

footer .container .company-sitemap-platform-app .company {
  flex: 1;
}

footer .container .company-sitemap-platform-app .company .logo {
  margin-bottom: 40px;
}

footer .container .company-sitemap-platform-app .company .logo img {
  width: 74px;
  margin-right: 24px;
}

footer .container .company-sitemap-platform-app .company .logo span {
  display: inline-block;
  font-size: 0.75rem;
  color: #4D4D4D;
  position: relative;
  bottom: 5px;
}

footer .container .company-sitemap-platform-app .company p {
  font-size: 0.875rem;
  color: #4D4D4D;
  margin-bottom: 40px;
}

footer .container .company-sitemap-platform-app .company .sns-group {
  display: flex;
  align-items: center;
}

footer .container .company-sitemap-platform-app .company .sns-group a {
  display: block;
  margin-right: 25px;
}

footer .container .company-sitemap-platform-app .company .sns-group a:hover img {
  color: #fc0;
}

footer .container .company-sitemap-platform-app .sitemap {
  flex: 1;
}

footer .container .company-sitemap-platform-app .sitemap ul {
  height: 119px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer .container .company-sitemap-platform-app .sitemap ul li {
  margin-bottom: 20px;
}

footer .container .company-sitemap-platform-app .sitemap ul li a {
  display: block;
}

footer .container .company-sitemap-platform-app .sitemap ul li a:hover {
  color: #CD4631;
}

footer .container .company-sitemap-platform-app .platform-app {
  flex: 1;
}

footer .container .company-sitemap-platform-app .platform-app .platform {
  margin-bottom: 60px;
}

footer .container .company-sitemap-platform-app .platform-app .platform p {
  color: #4D4D4D;
  margin-bottom: 29px;
}

footer .container .company-sitemap-platform-app .platform-app .platform div {
  display: flex;
  justify-content: space-between;
}

footer .container .company-sitemap-platform-app .platform-app .platform div a img {
  height: 22px;
}

footer .container .company-sitemap-platform-app .platform-app .platform div a:last-child img {
  height: 19px;
}

footer .container .company-sitemap-platform-app .platform-app .app p {
  color: #4D4D4D;
  margin-bottom: 29px;
}

footer .container .company-sitemap-platform-app .platform-app .app div a {
  margin-right: 10px;
}

footer .container .company-sitemap-platform-app .platform-app .app div a img {
  height: 36px;
}

footer .container .copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #4D4D4D;
}

footer .container .copyright p {
  font-size: 0.75rem;
  color: #4D4D4D;
}

footer .container .copyright p span {
  color: #CD4631;
}

footer .container .copyright p a {
  display: inline-block;
  color: #4D4D4D;
}

footer .container .copyright p a:hover {
  color: #CD4631;
}

@media all and (max-width: 1024px) {
  .container {
    width: 85%;
  }
  .title-group {
    width: 83%;
  }
  .title-group h2 {
    font-size: 3rem;
  }
  header .container .btn-group a {
    font-size: 0.875rem;
    padding: 12px 12px;
  }
  header .container .btn-group a:first-child {
    width: 117px;
  }
  header .container .btn-group a:last-child {
    display: flex;
    align-items: center;
  }
  #home .container-fluid::before {
    top: 26%;
  }
  #home .container-fluid .title-group h1 {
    height: 155px;
    font-size: 5rem;
  }
  #home .container-fluid .cover-slider .swiper-slide .slide .caption h3 {
    font-size: 1.8rem;
  }
  #home .container-fluid .support-group {
    width: 70%;
    height: auto;
    padding: 32px 5% 32px 0;
  }
  #home .container-fluid .support-group h4 {
    font-size: 1.2rem;
  }
  #home .container-fluid .support-group img {
    height: 1.7rem;
  }
  #home .container-fluid .support-group img:last-child {
    height: 1.4rem;
  }
  #about .container .contents .content {
    width: 40%;
  }
  #about .container .contents .content img {
    height: 13rem;
  }
  #about .container .review::before {
    height: 26%;
    top: 69%;
  }
  #about .container .review::after {
    height: 30%;
    left: 92%;
    top: -13%;
  }
  #about .container .review > p {
    width: 69%;
    font-size: 1.9rem;
  }
  #about .container .review > p span {
    font-size: 5rem;
  }
  #testimonials .container-fluid .title-group::before {
    left: 10%;
  }
  #testimonials .container-fluid .review-slider {
    transform: translate(0, 0);
  }
  #testimonials .container-fluid .review-slider .swiper-wrapper .review > p {
    font-size: 1.2rem;
  }
  #testimonials .container-fluid .swiper-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #features .container .title-group::before {
    left: 69%;
  }
  #features .container .features-group li {
    height: auto;
  }
  #features .container .features-group li img {
    height: 65px;
    margin-bottom: 20px;
  }
  #episodes .container .episodes-cards::before {
    left: 90%;
    top: -10%;
  }
  #episodes .container .episodes-cards .episodes-card .top-box img {
    width: 105px;
    align-self: flex-start;
  }
  #episodes .container .episodes-cards .episodes-card .bottom-box {
    align-items: flex-start;
  }
  #episodes .container .episodes-cards .episodes-card .bottom-box .hashtag span {
    font-size: 0.875rem;
  }
  #pricing .container::before {
    left: 14.5%;
  }
  #pricing .container .pricing-cards::after {
    left: 93%;
    top: -9%;
  }
  #pricing .container .pricing-cards .pricing-card .card-top {
    height: 19rem;
  }
  #pricing .container .pricing-cards .pricing-card .card-top .text-group .pricing-name div {
    width: 66px;
  }
  #pricing .container .pricing-cards .pricing-card .card-top .btn-price {
    justify-content: start;
    gap: 15px;
  }
  #pricing .container .pricing-cards .pricing-card .card-top .btn-price .btn {
    padding: 1.25rem 1rem;
  }
  #pricing .container .pricing-cards .pricing-card .card-top .btn-price .price {
    font-size: 1.3rem;
  }
  #pricing .container .pricing-cards .pricing-card .card-bottom {
    height: 21.5rem;
  }
  #blog .container .blog-cards .blog-card .text-group h3 {
    font-size: 1.8rem;
  }
  #blog .container .blog-cards .blog-card .hashtag-date {
    flex-direction: row;
    align-items: center;
  }
  #blog .container .blog-cards .blog-card .hashtag-date .hashtag {
    font-size: 0.875rem;
  }
  #cta .container-fluid .title-group {
    width: 42%;
    margin-bottom: 100px;
  }
  #cta .container-fluid .left-img .phone {
    width: 90%;
    left: -5%;
    bottom: -74%;
  }
  #cta .container-fluid .left-img .deco-big {
    bottom: 42%;
  }
  #cta .container-fluid .left-img .deco-small {
    bottom: 54%;
  }
  #cta .container-fluid .right-img .phone {
    width: 113%;
    right: -37%;
    bottom: -46%;
  }
  #cta .container-fluid .right-img .deco-bundle {
    width: 37%;
    right: 44%;
    bottom: -38%;
  }
  footer .container .company-sitemap-platform-app .platform-app .platform {
    margin-bottom: 47px;
  }
  footer .container .company-sitemap-platform-app .platform-app .platform div a img {
    height: 19px;
  }
  footer .container .company-sitemap-platform-app .platform-app .platform div a:last-child img {
    height: 16px;
  }
  footer .container .company-sitemap-platform-app .platform-app .app div a img {
    height: 24px;
  }
}

@media all and (max-width: 768px) {
  .container {
    width: 80%;
  }
  .title-group {
    width: 78%;
  }
  .title-group h2 {
    font-size: 2.5rem;
  }
  .title-group p {
    font-size: 1.2rem;
  }
  main {
    margin-top: 96px;
  }
  section {
    scroll-margin-top: 96px;
  }
  header {
    padding: 16px 0;
  }
  header .container {
    flex-direction: column;
    align-items: start;
  }
  header .container .logo {
    height: 64px;
  }
  header .container .menu {
    opacity: 0;
    display: none;
    width: 100%;
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    flex-direction: column;
  }
  header .container .menu li {
    margin-bottom: 20px;
  }
  header .container .btn-group {
    opacity: 0;
    display: none;
    margin: 10px 0;
    flex-direction: row;
    align-self: center;
  }
  header .container .menu.active,
  header .container .btn-group.active {
    opacity: 1;
    z-index: 10;
    display: flex;
  }
  header .mobile-btn {
    display: block;
  }
  header .mobile-btn.active span:nth-child(1), header .mobile-btn.active span:nth-child(4) {
    display: none;
  }
  header .mobile-btn.active span:nth-child(2) {
    transform: translate(0, 11px) rotate(45deg);
  }
  header .mobile-btn.active span:nth-child(3) {
    transform: translate(0, 11px) rotate(-45deg);
  }
  #home .container-fluid::before {
    top: 23%;
  }
  #home .container-fluid .title-group h1 {
    height: 130px;
    font-size: 4rem;
  }
  #home .container-fluid .cover-slider .swiper-slide .slide .caption h3 {
    font-size: 2rem;
  }
  #home .container-fluid .support-group {
    width: 80%;
  }
  #home .container-fluid .support-group h4 {
    font-size: 1.1rem;
  }
  #about .container .contents {
    justify-content: space-between;
  }
  #about .container .contents .content {
    width: 49%;
  }
  #about .container .contents .content img {
    height: 12rem;
  }
  #about .container .review::before {
    height: 28%;
    left: -7%;
    top: 66%;
  }
  #about .container .review::after {
    height: 30%;
    left: 93%;
    top: -13%;
  }
  #about .container .review > p {
    width: 79%;
    font-size: 1.5rem;
  }
  #about .container .review > p span {
    font-size: 4rem;
  }
  #testimonials .container-fluid .title-group::before {
    left: 7%;
    top: -27%;
  }
  #testimonials .container-fluid .review-slider .swiper-wrapper .review > p {
    font-size: 1.2rem;
  }
  #features .container .title-group::before {
    top: -99%;
  }
  #features .container .features-group li {
    width: 49%;
  }
  #episodes .container .episodes-cards::before {
    height: 159px;
    left: 89%;
    top: -5%;
  }
  #episodes .container .episodes-cards .episodes-card .top-box {
    flex-direction: column;
    align-items: flex-start;
  }
  #episodes .container .episodes-cards .episodes-card .top-box img {
    width: 100%;
    margin-bottom: 20px;
  }
  #episodes .container .episodes-cards .episodes-card .bottom-box {
    flex-direction: column;
  }
  #episodes .container .episodes-cards .episodes-card .bottom-box .hashtag span {
    margin-bottom: 10px;
  }
  #episodes .container .episodes-cards .episodes-card .bottom-box .host {
    right: 0;
  }
  #pricing .container::before {
    height: 89px;
    left: 3.5%;
    top: -3.5%;
  }
  #pricing .container .pricing-cards {
    flex-direction: column;
  }
  #pricing .container .pricing-cards::before {
    height: 9%;
    left: -7%;
    top: 92%;
  }
  #pricing .container .pricing-cards::after {
    top: -4%;
  }
  #pricing .container .pricing-cards .pricing-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  #pricing .container .pricing-cards .pricing-card .card-top {
    width: 49%;
    height: auto;
    padding: 7% 5% 5%;
    margin-bottom: 0;
  }
  #pricing .container .pricing-cards .pricing-card .card-top .text-group {
    margin-bottom: 20px;
  }
  #pricing .container .pricing-cards .pricing-card .card-bottom {
    width: 49%;
    height: auto;
    padding: 7% 4%;
  }
  #blog .container .blog-cards::before {
    height: 21%;
  }
  #blog .container .blog-cards::after {
    width: 29%;
    height: 29%;
    left: 85%;
    top: 89%;
  }
  #blog .container .blog-cards .blog-card:last-child {
    margin-bottom: 0;
  }
  #blog .container .blog-cards .blog-card img {
    margin-bottom: 20px;
  }
  #blog .container .blog-cards .blog-card .hashtag-date {
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .container .blog-cards .blog-card .hashtag-date .hashtag span {
    font-size: 0.875rem;
    margin-bottom: 10px;
  }
  #cta .container-fluid .title-group {
    width: 49%;
    margin-bottom: 100px;
  }
  #cta .container-fluid .left-img .phone {
    bottom: -71%;
  }
  #cta .container-fluid .left-img .deco-big {
    bottom: 22%;
  }
  #cta .container-fluid .left-img .deco-small {
    bottom: 33%;
  }
  #cta .container-fluid .right-img .phone {
    bottom: -47%;
  }
  footer .container .company-sitemap-platform-app {
    margin-bottom: 100px;
    flex-direction: column;
    gap: 40px;
  }
  footer .container .company-sitemap-platform-app .company {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .container .company-sitemap-platform-app .company .logo {
    margin-bottom: 0;
  }
  footer .container .company-sitemap-platform-app .company p {
    margin-bottom: 0;
  }
  footer .container .company-sitemap-platform-app .sitemap ul {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  footer .container .company-sitemap-platform-app .sitemap ul li {
    width: 30%;
    height: 40px;
    margin-bottom: 0;
  }
  footer .container .company-sitemap-platform-app .sitemap ul li a {
    line-height: 40px;
  }
  footer .container .company-sitemap-platform-app .platform-app .platform {
    margin-bottom: 20px;
  }
  footer .container .company-sitemap-platform-app .platform-app .platform div {
    justify-content: flex-start;
    align-items: center;
  }
  footer .container .company-sitemap-platform-app .platform-app .platform div a {
    margin-right: 20px;
  }
  footer .container .company-sitemap-platform-app .platform-app .platform div a:last-child img {
    height: 20px;
  }
  footer .container .company-sitemap-platform-app .platform-app .platform div a img {
    height: 24px;
  }
  footer .container .company-sitemap-platform-app .platform-app .app div a img {
    height: 29px;
  }
}

@media all and (max-width: 480px) {
  .title-group {
    width: 100%;
    margin-bottom: 60px;
  }
  .title-group h2 {
    font-size: 1.8rem;
  }
  .title-group p {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  section,
  footer {
    padding: 120px 0;
  }
  section::after {
    transform: translate(-50%, 50%) scale(0.8);
  }
  #home .container-fluid::before {
    top: 24%;
  }
  #home .container-fluid::after {
    top: 28%;
  }
  #home .container-fluid .title-group h1 {
    font-size: 3rem;
    height: 95px;
  }
  #home .container-fluid .title-group p {
    width: 80%;
  }
  #home .container-fluid .cover-slider .swiper-slide .slide .caption h3 {
    font-size: 1.2rem;
  }
  #home .container-fluid .support-group {
    width: 80%;
    height: auto;
    padding: 16px 0 10px;
    flex-wrap: wrap;
  }
  #home .container-fluid .support-group h4 {
    width: 100%;
    margin-bottom: 16px;
    font-size: 1rem;
  }
  #home .container-fluid .support-group img {
    height: 24px;
    margin-bottom: 10px;
  }
  #home .container-fluid .support-group img:last-child {
    height: 19px;
  }
  #about .container .contents {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
  #about .container .contents .content {
    width: 100%;
  }
  #about .container .contents .content img {
    height: 10rem;
  }
  #about .container .review::before {
    left: -10%;
    top: 81%;
    z-index: -1;
  }
  #about .container .review::after {
    height: 23%;
    left: 89%;
    top: -10%;
  }
  #about .container .review > p {
    font-size: 1.2rem;
  }
  #about .container .review > p span {
    font-size: 3rem;
  }
  #about .container .review .writer {
    padding: 0 5%;
  }
  #about .container .review .writer .name-platform {
    flex-direction: column;
    align-items: start;
  }
  #about .container .review .writer .name-platform p {
    margin-bottom: 4px;
  }
  #about .container .review .writer .name-platform div strong {
    font-size: 0.875rem;
  }
  #testimonials .container-fluid .title-group {
    padding: 0 10%;
  }
  #testimonials .container-fluid .title-group::before {
    top: -28%;
    left: 10%;
  }
  #testimonials .container-fluid .review-slider .swiper-wrapper .review > p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  #testimonials .container-fluid .review-slider .swiper-wrapper .review > p span {
    font-size: 4rem;
    margin-bottom: 15px;
  }
  #testimonials .container-fluid .review-slider .swiper-wrapper .review .writer .name-platform {
    align-items: flex-start;
    flex-direction: column;
  }
  #testimonials .container-fluid .review-slider .swiper-wrapper .review .writer .name-platform p {
    margin-bottom: 4px;
  }
  #features .container .title-group::before {
    height: 114px;
    top: -59%;
  }
  #features .container .features-group li {
    width: 100%;
  }
  #episodes .container .episodes-cards::before {
    height: 114px;
    left: 87%;
    top: -1.7%;
  }
  #episodes .container .episodes-cards .episodes-card {
    width: 100%;
  }
  #episodes .container .episodes-cards .episodes-card .top-box .text-group h3 span {
    font-size: 0.875rem;
  }
  #pricing .container::before {
    height: 89px;
    left: -10.5%;
    top: -2.5%;
  }
  #pricing .container .pricing-cards::before {
    left: -10%;
    top: 97%;
  }
  #pricing .container .pricing-cards::after {
    top: -1.5%;
  }
  #pricing .container .pricing-cards .pricing-card {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  #pricing .container .pricing-cards .pricing-card::before {
    top: 97%;
  }
  #pricing .container .pricing-cards .pricing-card::after {
    top: -1.5%;
  }
  #pricing .container .pricing-cards .pricing-card:last-child {
    margin-bottom: 0;
  }
  #pricing .container .pricing-cards .pricing-card .card-top {
    width: 100%;
  }
  #pricing .container .pricing-cards .pricing-card .card-top .text-group {
    margin-bottom: 30px;
  }
  #pricing .container .pricing-cards .pricing-card .card-top .text-group .pricing-name {
    gap: 20px;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  #pricing .container .pricing-cards .pricing-card .card-top .btn-price {
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
  }
  #pricing .container .pricing-cards .pricing-card .card-top .btn-price .btn {
    padding: 1.25rem 1.25rem;
  }
  #pricing .container .pricing-cards .pricing-card .card-top .btn-price .price {
    margin-bottom: 0;
  }
  #pricing .container .pricing-cards .pricing-card .card-bottom {
    width: 100%;
    height: auto;
  }
  #blog .container {
    flex-direction: column;
  }
  #blog .container .blog-cards {
    gap: 20px;
  }
  #blog .container .blog-cards::before {
    height: 9%;
    left: -8%;
    top: -3%;
  }
  #blog .container .blog-cards::after {
    left: 70%;
    top: 79%;
  }
  #blog .container .blog-cards .blog-card {
    width: 100%;
  }
  #blog .container .blog-cards .blog-card img {
    margin-bottom: 20px;
  }
  #blog .container .blog-cards .blog-card .text-group h3 {
    font-size: 1.4rem;
  }
  #blog .container .blog-cards .blog-card .hashtag-date {
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .container .blog-cards .blog-card .hashtag-date .hashtag span {
    margin-bottom: 10px;
  }
  #cta {
    padding-bottom: 200px;
  }
  #cta .container-fluid .title-group {
    width: 60%;
    margin-bottom: 52px;
  }
  #cta .container-fluid p .btn::before {
    width: 98px;
    height: 100px;
    left: 85%;
    top: -78%;
  }
  #cta .container-fluid .left-img {
    width: 45%;
  }
  #cta .container-fluid .left-img .phone {
    bottom: -92%;
  }
  #cta .container-fluid .left-img .deco-big {
    bottom: -2%;
  }
  #cta .container-fluid .left-img .deco-small {
    bottom: 8%;
  }
  #cta .container-fluid .right-img {
    width: 50%;
  }
  #cta .container-fluid .right-img .phone {
    bottom: -78%;
  }
  #cta .container-fluid .right-img .deco-bundle {
    bottom: -64%;
  }
  footer .container .company-sitemap-platform-app .company {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  footer .container .company-sitemap-platform-app .sitemap ul li {
    width: 50%;
  }
  footer .container .company-sitemap-platform-app .platform-app .platform {
    margin-bottom: 40px;
  }
  footer .container .company-sitemap-platform-app .platform-app .platform div {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  footer .container .copyright {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 360px) {
  .title-group h2 {
    font-size: 1.4rem;
  }
  #home .container-fluid::before {
    top: 29%;
  }
  #home .container-fluid .cover-slider {
    margin-bottom: 90px;
  }
  #home .container-fluid .support-group img {
    height: 17px;
  }
  #home .container-fluid .support-group img:last-child {
    height: 15px;
  }
  #about .container .review > p {
    font-size: 1.1rem;
  }
  #features .container .title-group::before {
    height: 102px;
    top: -51%;
  }
  #episodes .container .episodes-cards::before {
    height: 91px;
    left: 85%;
    top: -1.4%;
  }
  #pricing .container::before {
    height: 67px;
    left: -24%;
    top: -2%;
  }
  #pricing .container .pricing-cards .pricing-card .card-top .text-group .pricing-name h3 {
    font-size: 2rem;
  }
  #blog .container .blog-cards::after {
    left: 64%;
    top: 78%;
  }
  #blog .container .blog-cards .blog-card .text-group h3 {
    font-size: 1.1rem;
  }
  #cta .container-fluid .left-img .phone {
    bottom: -73%;
  }
  #cta .container-fluid .left-img .deco-big {
    bottom: -7%;
  }
  #cta .container-fluid .left-img .deco-small {
    bottom: 2%;
  }
  #cta .container-fluid .right-img .phone {
    bottom: -61%;
  }
  #cta .container-fluid .right-img .deco-bundle {
    bottom: -57%;
  }
}
