@charset "UTF-8";

@import "reset", "variable", "mixin";

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&display=swap');

// IE 지원 X
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

// layout settings ####################
header {
  width: 100%;
  height: auto;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 9999;
}

main {
  width: 100%;
  height: auto;
  margin-top: 120px;
}

section {
  scroll-margin-top: 120px;
  width: 100%;
  height: auto;
  padding: 140px 0;
  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    display: block;
    content: '';
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 10;
    @include translate(-50%, 50%);
    background-image: url(/images/deco-img-10.svg);
  }

  &#home::after,
  &#blog::after {
    background-image: url(/images/deco-img-9.svg);
  }

  &#cta::after {
    display: none;
  }
}

footer {
  height: auto;
  padding: 140px 0 80px;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  width: 61%;
}

.container-fluid {
  width: 100%;
}


// common settings ##################
.title-group {
  position: relative;
  width: 60%;
  text-align: center;
  margin: 0 auto 100px;

  h2 {
    font-size: 3.7rem;
    line-height: 120%;
    letter-spacing: -0.05em;
  }

  p {
    margin-top: 20px;
    font-size: 1.4rem;
    color: $fc2;
  }
}

h3 {
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.btn {
  display: inline-block;
  width: auto;
  height: auto;
  font-weight: bold;
  padding: 24px 48px;
  background-color: #000;
  color: #fff;
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 6px 6px 0px rgba(#000, 0.25);
  @include transition(0.2s);

  &:hover {
    background-color: $pc1;
  }

  &:active {
    background-color: lighten($pc1, 10);
  }
}




// header AREA START ################
header {
  background-color: $bgc2;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(#000000, 0.2);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 74px;

      img {
        height: 100%;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;

    li {
      padding: 8px 3%;
      text-align: center;

      a {
        display: block;

        img {
          @include translate(0, 3px);
        }

        &:hover {
          color: $pc1;
        }
      }

      .on {
        color: $pc1;
      }
    }


  }


  .btn-group {
    display: flex;
    gap: 20px;

    a {
      padding: 12px 24px;
      text-align: center;

      &:first-child {
        box-shadow: none;
        background-color: $bgc2;
        color: $fc1;

        &:hover {
          background-color: $pc2;
        }

        &:active {
          background-color: lighten($pc2, 10);
        }
      }

      &:last-child {
        display: flex;
        align-items: center
      }
    }
  }

  .mobile-btn {
    display: none;
    position: absolute;
    width: 33px;
    height: 25px;
    right: 10%;
    top: 36px;

    span {
      @include transition(0.4s);
      position: absolute;
      content: '';
      display: block;
      width: 33px;
      height: 3px;
      background-color: $fc1;

      &:nth-child(2),
      &:nth-child(3) {
        -webkit-transform: translate(0, 11px) rotate(0deg);
        -moz-transform: translate(0, 11px) rotate(0deg);
        -o-transform: translate(0, 11px) rotate(0deg);
        transform: translate(0, 11px) rotate(0deg);
      }

      &:nth-child(4) {
        @include translate(0, 22px);
      }
    }

    &:hover {
      span {

        &:nth-child(1),
        &:nth-child(4) {
          display: none;
        }

        &:nth-child(2) {
          -webkit-transform: translate(0, 11px) rotate(45deg);
          -moz-transform: translate(0, 11px) rotate(45deg);
          -o-transform: translate(0, 11px) rotate(45deg);
          transform: translate(0, 11px) rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: translate(0, 11px) rotate(-45deg);
          -moz-transform: translate(0, 11px) rotate(-45deg);
          -o-transform: translate(0, 11px) rotate(-45deg);
          transform: translate(0, 11px) rotate(-45deg);
        }
      }
    }
  }




}





// home AREA START #################
#home {
  background: linear-gradient($bgc2, darken($bgc2, 5));

  .container-fluid {
    z-index: 1;

    &::before {
      z-index: 0;
      @include decoImg(31%, 38%, -7%, 2%);
      background-image: url(/images/deco-img-1.png);
      @include animation(leftRight, 3s);
    }

    &::after {
      z-index: -1;
      @include decoImgRight(8%, 16%, 6%, 6%);
      background-image: url(/images/deco-img-2.png);
      @include animation(upDown, 3s);
    }

    @keyframes leftRight {
      0% {
        left: -7%
      }

      60% {
        left: -6%
      }

      100% {
        left: -7%;
      }

    }

    @keyframes upDown {
      0% {
        top: 6%
      }

      40% {
        top: 7%
      }

      100% {
        top: 6%;
      }
    }

    .title-group {
      h1 {
        height: 192px;
        font-size: 6rem;
        line-height: 100%;
        letter-spacing: -0.05em;

        span {
          display: block;
          color: $pc1;
        }
      }

      p {
        width: 27rem;
        margin: 40px auto 60px;
      }
    }

    .cover-slider {
      height: auto;
      margin-bottom: 120px;

      .swiper-slide {
        .slide {
          position: relative;
          width: 100%;

          &:hover>img {
            filter: brightness(0.8);
          }

          >img {
            width: 100%;
            border-radius: 12px;
            @include transition(0.2s);
          }

          .caption {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;

            .platform-icon-group {
              position: absolute;
              right: 1.25rem;
              top: 1.25rem;
              display: flex;
              gap: 10px;

              a {
                display: inline-block;

                &:hover {
                  filter: brightness(0.8);
                }
              }
            }

            h3 {
              position: absolute;
              left: 1.25rem;
              bottom: 1.25rem;
              font-size: 2.29rem;
              letter-spacing: -0.05em;
              color: $pc2;
            }
          }
        }
      }
    }

    .support-group {
      width: 67%;
      height: 124px;
      margin: auto;
      padding-right: 5%;
      border-top: 1px solid $fc2;
      border-bottom: 1px solid $fc2;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        font-size: 1.4rem;
      }


    }
  }
}

// about AREA START #################
#about {
  .container {
    .contents {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 120px;

      .content {
        width: 35%;
        height: auto;
        text-align: center;

        img {
          height: 17rem;
          margin-bottom: 40px;
        }

      }
    }

    .review {
      position: relative;
      width: 100%;
      height: auto;
      background-color: $bgc2;
      border-radius: 8px;
      padding: 40px 0;
      text-align: center;

      &::before {
        @include decoImg(32%, 32%, -5%, 60%);
        background-image: url(/images/deco-img-3.svg);
      }

      &::after {
        @include decoImg(40%, 40%, 92%, -17%);
        background-image: url(/images/deco-img-4.svg);
      }

      >p {
        display: inline-block;
        width: 60%;
        font-size: 2.29rem;
        font-weight: bold;
        line-height: 1.4;
        margin-bottom: 40px;

        span {
          display: block;
          font-size: 6rem;
          color: $pc1;
          line-height: 1;
        }
      }

      .writer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;

        img {
          height: 56px;
          border-radius: 50%;
          margin-right: 10px;
        }

        p {
          font-size: 0.875rem;
          margin-right: 10px;
        }

        .name-platform {
          display: flex;
          align-items: center;

          div {
            display: flex;
            align-items: center;
          }
        }

        .platform-icon {
          height: 16px;
          margin-right: 8px;
        }
      }
    }
  }
}

// testimonials AREA START #############
#testimonials {
  background-color: $bgc3;

  .container-fluid {
    .title-group {
      &::before {
        @include decoImg(7%, 70%, 20%, -39%);
        background-image: url(/images/deco-img-5.svg);
      }
    }

    .review-slider {
      @include translate(-15%, 0);
      overflow: visible;

      .swiper-wrapper {
        margin-bottom: 60px;

        .review {
          width: 570px;
          height: auto;
          padding: 40px;
          background-color: $bgc1;
          border-radius: 8px;

          >p {
            display: inline-block;
            font-size: 1.4rem;
            margin-bottom: 40px;

            span {
              display: block;
              height: 33px;
              font-size: 6rem;
              color: $pc1;
              line-height: 0.9;
              margin-bottom: 33px;
            }
          }

          .writer {
            display: flex;
            align-items: center;

            img {
              height: 56px;
              border-radius: 50%;
              margin-right: 10px;
            }

            p {
              font-size: 0.875rem;
              margin-right: 10px;
            }

            .name-platform {
              display: flex;
              align-items: center;

              div {
                display: flex;
                align-items: center;
              }
            }

            .platform-icon {
              height: 16px;
              margin-right: 8px;
            }
          }
        }
      }
    }

    .swiper-button {
      width: 61%;
      height: 37px;
      margin: auto;

      .swiper-button-prev,
      .swiper-button-next {
        float: left;
        width: 37px;
        position: relative;
        text-indent: -9999px;
        background-size: contain;

        &:hover svg path[stroke] {
          stroke: $pc1;
        }
      }
    }
  }
}

// features AREA START ################
#features {
  .container {
    .title-group {
      &::before {
        @include decoImg(250px, 180px, 76%, -83%);
        @include rotate(10deg);
        background-image: url(/images/deco-img-6.svg);
      }
    }

    .features-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        width: 29%;
        height: 200px;
        text-align: center;
        margin-bottom: 80px;

        img {
          height: 75px;
          margin-bottom: 30px;
        }

        h3 {
          margin-bottom: 10px;
        }

        &:last-child {
          margin-bottom: 100px;
        }
      }
    }

    p {
      text-align: center;
    }
  }
}

// episodes AREA START ################
#episodes {
  background-color: $bgc2;

  .container {

    .episodes-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;

      &::before {
        @include decoImg(250px, 180px, 94%, -13%);
        background-image: url(/images/deco-img-7.svg);
      }

      .episodes-card {
        width: 49%;
        height: 100%;
        padding: 1rem;
        background-color: $bgc1;
        border: 2px solid #000;
        border-radius: 12px;
        margin-bottom: 20px;
        @include transition(0.3s);

        &:last-child {
          margin-bottom: 100px;
        }

        &:hover {
          @include translate(-10px, -10px);
          box-shadow: 10px 10px 0 $pc2;

          .top-box .text-group h3 {
            color: $pc1;
          }
        }

        .top-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          img {
            width: 166px;
            border-radius: 8px;
            margin-right: 1.25rem;
          }

          .text-group {
            h3 {
              padding-bottom: 10px;
              margin-bottom: 10px;
              border-bottom: 1px solid $fc2;

              span {
                display: block;
                font-size: 1rem;
                color: $pc1;
              }
            }

            p {
              color: $fc2;
            }
          }
        }

        .bottom-box {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .hashtag {
            height: auto;

            span {
              display: inline-block;
              height: auto;
              padding: 6px 12px;
              border: 1px solid $fc2;
              border-radius: 4px;
            }
          }

          .host {
            display: flex;
            align-items: center;
            position: relative;
            right: 25px;

            span {
              font-size: 0.75rem;
              color: $fc2;
              font-weight: bold;
              margin-right: 10px;
            }

            div {
              position: relative;
              height: 26px;
              width: 26px;
              border-radius: 50%;
              overflow: hidden;

              &:nth-child(1) {
                margin-right: 20px;
              }

              &:last-child {
                position: absolute;
                box-sizing: content-box;
                right: -25px;
                border: 3px solid $bgc1;
              }

              img {
                display: block;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }

    >p {
      text-align: center;
    }
  }
}

// pricing AREA START #################
#pricing {
  .container {
    position: relative;

    &::before {
      @include decoImg(120px, 120px, 23%, -6%);
      background-image: url(/images/deco-img-7.svg);
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    .pricing-cards {
      display: flex;
      justify-content: space-between;
      position: relative;
      // z-index: 10;

      &::before {
        @include decoImg(18%, 18%, -6%, 88%);
        z-index: -1;
        background-image: url(/images/deco-img-3-1.svg);
      }

      &::after {
        @include decoImg(15%, 26%, 93%, -12%);
        z-index: -1;
        background-image: url(/images/deco-img-4.svg);
      }

      .pricing-card {
        width: 32%;

        .card-top {
          height: 22.3rem;
          padding: 16% 9% 8%;
          margin-bottom: 20px;
          background-color: $bgc1;
          border: 2px solid #000;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .text-group {
            .pricing-name {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 20px;

              h3 {
                font-size: 2.29rem;
              }

              div {
                height: auto;
                padding: 0.375rem;
                font-size: 0.75px;
                line-height: 1;
                font-weight: bold;
                background-color: $pc1;
                color: #fff;
                border-radius: 4px;
              }
            }

            p {
              font-size: 0.875rem;
              color: $fc2;
            }
          }

          .btn-price {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn {
              padding: 1.25rem 2.25rem;
            }

            .price {
              font-size: 1.415rem;
              font-weight: bold;
              color: $pc1;

              span {
                display: block;
                font-size: 0.875rem;
                color: $fc2;
              }
            }
          }
        }

        .card-bottom {
          height: 19.5rem;
          padding: 11%;
          background-color: $bgc1;
          border: 2px solid #000;
          border-radius: 8px;

          h4 {
            font-size: 0.875rem;
            color: $fc2;
            margin-bottom: 20px;
          }

          ul {
            list-style: disc;
            @include translate(6%, 0);
          }

          li {
            line-height: 1.6;
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &:nth-child(2) {

          .card-top,
          .card-bottom {
            border-color: $pc1;
            background-color: lighten($pc1, 45%);
          }
        }
      }
    }
  }
}

// blog AREA START ###################
#blog {
  .container {
    .blog-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      margin-bottom: 100px;

      &::before {
        @include decoImg(30%, 30%, -8%, -5%);
        @include rotate(23deg);
        z-index: -1;
        background-image: url(/images/features-icon-6.svg);
      }

      &::after {
        @include decoImg(37%, 37%, 76%, 96%);
        @include rotate(140deg);
        z-index: -1;
        background-image: url(/images/deco-img-6.svg);
      }

      .blog-card {
        width: 49%;
        height: 100%;
        padding: 1rem;
        background-color: $bgc1;
        border: 2px solid #000;
        border-radius: 12px;
        @include transition(0.3s);

        &:hover {
          @include translate(-10px, -10px);
          box-shadow: 10px 10px 0 #000;

          .text-group h3 {
            color: $pc1;
          }
        }

        img {
          width: 100%;
          border-radius: 8px;
          margin-bottom: 40px;
        }

        .text-group {
          width: 100%;

          .category {
            font-size: 0.875rem;
            font-weight: bold;
            color: $fc2;
            margin-bottom: 6px;
          }

          h3 {
            font-size: 2.29rem;
            margin-bottom: 20px;
          }

          p {

            width: 100%;
            height: 4.8em;
            margin-bottom: 20px;
            font-size: 0.875rem;
            line-height: 1.6em;
            display: -webkit-box;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-line-clamp: 3;
          }
        }

        .hashtag-date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 20px;
          border-top: 1px solid $fc2;

          .hashtag {
            height: auto;

            span {
              display: inline-block;
              height: auto;
              padding: 6px 12px;
              border: 1px solid $fc2;
              border-radius: 4px;
            }
          }

          .date {
            font-size: 0.75rem;
            color: $fc2;
            font-weight: bold;
          }
        }
      }
    }

    >p {
      text-align: center;
    }
  }
}

// cta AREA START ####################
#cta {
  background-color: $bgc3;
  overflow: hidden;

  .container-fluid {
    position: relative;
    top: 0;
    left: 0;

    .title-group {
      width: 27%;
      margin-bottom: 140px;

      .deco-text {
        width: 52px;
        height: 28px;
        color: $pc1;
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 28px;
        border: 1px solid $pc1;
        border-radius: 4px;
        margin: 0 auto 20px;
      }
    }

    p {
      text-align: center;
      margin-bottom: 24px;

      .btn {
        position: relative;

        &::before {
          @include decoImg(120px, 120px, 81%, -93%);
          background-image: url(/images/deco-img-7.svg);
        }
      }
    }

    .platform-group {
      width: 187px;
      margin: 0 auto;

      p {
        font-size: 0.875rem;
        color: $fc2;
        text-align: center;
        margin-bottom: 10px;
      }

      div {
        display: flex;
        justify-content: space-around;
        padding: 0 30px;

        a {
          &:hover img {
            filter: brightness(0.3);
          }

          img {
            filter: brightness(0);
          }
        }
      }
    }


  }

  .left-img {
    width: 35%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;

    .phone {
      width: 66%;
      position: absolute;
      left: 2%;
      bottom: -96%;
    }

    .deco-big {
      width: 21%;
      position: absolute;
      left: 11%;
      bottom: 55%;
    }

    .deco-small {
      width: 12%;
      position: absolute;
      left: 30%;
      bottom: 75%;
    }
  }

  .right-img {
    width: 35%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;

    .phone {
      width: 100%;
      position: absolute;
      right: -28%;
      bottom: -65%;
      z-index: 1;
    }

    .deco-bundle {
      width: 29%;
      position: absolute;
      right: 45%;
      bottom: -37%;
    }
  }
}

// footer AREA START #################
footer {
  border-top: 1px solid $fc2;

  .container {
    .company-sitemap-platform-app {
      display: flex;
      margin-bottom: 137px;

      .company {
        flex: 1;

        .logo {
          margin-bottom: 40px;

          img {
            width: 74px;
            margin-right: 24px;
          }

          span {
            display: inline-block;
            font-size: 0.75rem;
            color: $fc2;
            position: relative;
            bottom: 5px;

          }
        }

        p {
          font-size: 0.875rem;
          color: $fc2;
          margin-bottom: 40px;
        }

        .sns-group {
          display: flex;
          align-items: center;

          a {
            display: block;
            margin-right: 25px;

            &:hover img {
              color: #fc0;
            }
          }
        }
      }

      .sitemap {
        flex: 1;

        ul {
          height: 119px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          li {
            margin-bottom: 20px;

            a {
              display: block;

              &:hover {
                color: $pc1;
              }
            }
          }
        }
      }

      .platform-app {
        flex: 1;

        .platform {
          margin-bottom: 60px;

          p {
            color: $fc2;
            margin-bottom: 29px;
          }

          div {
            display: flex;
            justify-content: space-between;

            a {
              img {
                height: 22px;
              }
              &:last-child img {
                height: 19px;
              }
            }
          }
        }

        .app {
          p {
            color: $fc2;
            margin-bottom: 29px;
          }

          div {
            a {
              margin-right: 10px;

              img {
                height: 36px;
              }
            }
          }
        }
      }
    }

    .copyright {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      border-top: 1px solid $fc2;

      p {
        font-size: 0.75rem;
        color: $fc2;

        span {
          color: $pc1;
        }

        a {
          display: inline-block;
          color: $fc2;

          &:hover {
            color: $pc1;
          }
        }
      }
    }
  }
}

// Media query AREA START ############
// 769px ~ 1024px
@media all and (max-width:1024px) {
  .container {
    width: 85%;
  }

  .title-group {
    width: 83%;

    h2 {
      font-size: 3rem;
    }
  }

  // header AREA START ################
  header .container {
    .btn-group {
      a {
        font-size: 0.875rem;
        padding: 12px 12px;

        &:first-child {
          width: 117px;
        }

        &:last-child {
          display: flex;
          align-items: center
        }
      }
    }
  }

  // home AREA START #################
  #home .container-fluid {
    &::before {
      top: 26%;
    }

    .title-group h1 {
      height: 155px;
      font-size: 5rem;
    }

    .cover-slider .swiper-slide .slide .caption h3 {
      font-size: 1.8rem;
    }

    .support-group {
      width: 70%;
      height: auto;
      padding: 32px 5% 32px 0;

      h4 {
        font-size: 1.2rem;
      }

      img {
        height: 1.7rem;

        &:last-child {
          height: 1.4rem;
        }
      }
    }
  }


  // about AREA START #################
  #about .container {
    .contents .content {
      width: 40%;

      img {
        height: 13rem;
      }
    }

    .review {
      &::before {
        height: 26%;
        top: 69%;
      }

      &::after {
        height: 30%;
        left: 92%;
        top: -13%;
      }

      >p {
        width: 69%;
        font-size: 1.9rem;

        span {
          font-size: 5rem;
        }
      }
    }
  }

  // Testimonials AREA START ################
  #testimonials .container-fluid {
    .title-group {
      &::before {
        left: 10%;
      }
    }

    .review-slider {
      @include translate(0, 0);

      .swiper-wrapper .review>p {
        font-size: 1.2rem;
      }
    }

    .swiper-button {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  // features AREA START ################
  #features .container {
    .title-group {
      &::before {
        left: 69%;
      }
    }

    .features-group li {
      height: auto;

      img {
        height: 65px;
        margin-bottom: 20px;
      }
    }
  }

  // episodes AREA START ################
  #episodes .container .episodes-cards {
    &::before {
      left: 90%;
      top: -10%;
    }

    .episodes-card {
      .top-box {
        img {
          width: 105px;
          align-self: flex-start;
        }
      }

      .bottom-box {
        align-items: flex-start;

        .hashtag {
          span {
            font-size: 0.875rem;
          }
        }
      }
    }
  }


  // pricing AREA START #################
  #pricing .container {
    &::before {
      left: 14.5%;
    }

    .pricing-cards {
      &::after {
        left: 93%;
        top: -9%;
      }

      .pricing-card {
        .card-top {
          height: 19rem;

          .text-group .pricing-name div {
            width: 66px;
          }

          .btn-price {
            justify-content: start;
            gap: 15px;

            .btn {
              padding: 1.25rem 1rem;
            }

            .price {
              font-size: 1.3rem;
            }
          }
        }

        .card-bottom {
          height: 21.5rem;
        }
      }
    }
  }

  // blog AREA START ###################
  #blog .container .blog-cards .blog-card {
    .text-group h3 {
      font-size: 1.8rem;
    }

    .hashtag-date {
      flex-direction: row;
      align-items: center;

      .hashtag {
        font-size: 0.875rem;
      }
    }
  }

  // cta AREA START ####################
  #cta .container-fluid {
    .title-group {
      width: 42%;
      margin-bottom: 100px;
    }

    .left-img {
      .phone {
        width: 90%;
        left: -5%;
        bottom: -74%;
      }

      .deco-big {
        bottom: 42%;
      }

      .deco-small {
        bottom: 54%;
      }
    }

    .right-img {
      .phone {
        width: 113%;
        right: -37%;
        bottom: -46%;
      }

      .deco-bundle {
        width: 37%;
        right: 44%;
        bottom: -38%;
      }
    }
  }

  // footer AREA START ###################
  footer .container .company-sitemap-platform-app .platform-app {
    .platform {
      margin-bottom: 47px;

      div {
        a {
          img {
            height: 19px;
          }

          &:last-child img {
            height: 16px;
          }
        }
      }
    }

    .app div a img {
      height: 24px;
    }
  }
}

// 481px ~ 768px
@media all and (max-width:768px) {
  .container {
    width: 80%;
  }

  .title-group {
    width: 78%;

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  main {
    margin-top: 96px;
  }

  section {
    scroll-margin-top: 96px;
  }

  // header AREA START ################
  header {
    padding: 16px 0;

    .container {
      flex-direction: column;
      align-items: start;

      .logo {
        height: 64px;
      }

      .menu {
        opacity: 0;
        display: none;
        width: 100%;
        margin: 20px 0;
        padding: 20px 0;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        flex-direction: column;

        li {
          margin-bottom: 20px;
        }
      }

      .btn-group {
        opacity: 0;
        display: none;
        margin: 10px 0;
        flex-direction: row;
        align-self: center;
      }

      .menu.active,
      .btn-group.active {
        opacity: 1;
        z-index: 10;
        display: flex;
      }

    }

    .mobile-btn {
      display: block;
    }

    .mobile-btn.active {
      span {

        &:nth-child(1),
        &:nth-child(4) {
          display: none;
        }

        &:nth-child(2) {
          -webkit-transform: translate(0, 11px) rotate(45deg);
          -moz-transform: translate(0, 11px) rotate(45deg);
          -o-transform: translate(0, 11px) rotate(45deg);
          transform: translate(0, 11px) rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: translate(0, 11px) rotate(-45deg);
          -moz-transform: translate(0, 11px) rotate(-45deg);
          -o-transform: translate(0, 11px) rotate(-45deg);
          transform: translate(0, 11px) rotate(-45deg);
        }
      }
    }
  }

  // home AREA START #################
  #home .container-fluid {
    &::before {
      top: 23%;
    }

    .title-group h1 {
      height: 130px;
      font-size: 4rem;
    }

    .cover-slider .swiper-slide .slide .caption h3 {
      font-size: 2rem;
    }

    .support-group {
      width: 80%;

      h4 {
        font-size: 1.2rem;
      }

      img {
        height: 17%;

        &:last-child {
          height: 15%;
        }
      }
    }
  }

  // about AREA START #################
  #about .container {
    .contents {
      justify-content: space-between;

      .content {
        width: 49%;

        img {
          height: 12rem;
        }
      }
    }

    .review {
      &::before {
        height: 28%;
        left: -7%;
        top: 66%;
      }

      &::after {
        height: 30%;
        left: 93%;
        top: -13%;
      }

      >p {
        width: 79%;
        font-size: 1.5rem;

        span {
          font-size: 4rem;
        }
      }
    }
  }


  // testimonials AREA START #############
  #testimonials .container-fluid {
    .title-group::before {
      left: 7%;
      top: -27%;
    }

    .review-slider .swiper-wrapper .review>p {
      font-size: 1.2rem;
    }
  }

  // features AREA START ################
  #features .container {
    .title-group::before {
      top: -99%;
    }

    .features-group li {
      width: 49%;
    }
  }

  // episodes AREA START ################
  #episodes .container .episodes-cards {
    &::before {
      height: 159px;
      left: 89%;
      top: -5%;
    }

    .episodes-card {
      .top-box {
        flex-direction: column;
        align-items: flex-start;

        img {
          width: 100%;
          margin-bottom: 20px;
        }
      }

      .bottom-box {
        flex-direction: column;

        .hashtag span {
          margin-bottom: 10px;
        }

        .host {
          right: 0;
        }
      }
    }
  }

  // pricing AREA START #################
  #pricing .container {
    &::before {
      height: 89px;
      left: 3.5%;
      top: -3.5%;
    }

    .pricing-cards {
      flex-direction: column;

      &::before {
        height: 9%;
        left: -7%;
        top: 92%;
      }

      &::after {
        top: -4%;
      }

      .pricing-card {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;

        .card-top {
          width: 49%;
          height: auto;
          padding: 7% 5% 5%;
          margin-bottom: 0;

          .text-group {
            margin-bottom: 20px;
          }
        }

        .card-bottom {
          width: 49%;
          height: auto;
          padding: 7% 4%;
        }
      }
    }
  }

  // blog AREA START ###################
  #blog .container .blog-cards {
    &::before {
      height: 21%;
    }

    &::after {
      width: 29%;
      height: 29%;
      left: 85%;
      top: 89%;
    }

    .blog-card {
      &:last-child {
        margin-bottom: 0;
      }

      img {
        margin-bottom: 20px;
      }

      .hashtag-date {
        flex-direction: column;
        align-items: flex-start;

        .hashtag {
          span {
            font-size: 0.875rem;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  // cta AREA START ####################
  #cta .container-fluid {
    .title-group {
      width: 49%;
      margin-bottom: 100px;
    }

    .left-img {
      .phone {
        bottom: -71%;
      }

      .deco-big {
        bottom: 22%;
      }

      .deco-small {
        bottom: 33%;
      }
    }

    .right-img {
      .phone {
        bottom: -47%;
      }
    }
  }

  // footer AREA START #################
  footer .container .company-sitemap-platform-app {
    margin-bottom: 100px;
    flex-direction: column;
    gap: 40px;

    .company {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        margin-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }
    }

    .sitemap {
      ul {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        li {
          width: 30%;
          height: 40px;
          margin-bottom: 0;

          a {
            line-height: 40px;
          }
        }
      }
    }

    .platform-app {
      .platform {
        margin-bottom: 20px;

        div {
          justify-content: flex-start;
          align-items: center;

          a {
            margin-right: 20px;

            &:last-child img {
              height: 20px;
            }

            img {
              height: 24px;
            }
          }
        }
      }

      .app div a img {
        height: 29px;
      }
    }
  }
}

// ~480px
@media all and (max-width:480px) {
  .title-group {
    width: 100%;
    margin-bottom: 60px;

    h2 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1rem;
    }
  }

  h3 {
    font-size: 1.2rem;
  }

  section,
  footer {
    padding: 120px 0;
  }

  section {
    &::after {
      @include translateScale(-50%, 50%, 0.8)
    }
  }

  // home AREA START #################
  #home .container-fluid {
    &::before {
      top: 24%;
    }

    &::after {
      top: 28%;
    }

    .title-group {
      h1 {
        font-size: 3rem;
        height: 95px;
      }

      p {
        width: 80%;
      }
    }

    .cover-slider .swiper-slide .slide .caption h3 {
      font-size: 1.2rem;
    }

    .support-group {
      width: 80%;
      height: auto;
      padding: 16px 0 10px;
      flex-wrap: wrap;

      h4 {
        width: 100%;
        margin-bottom: 16px;
        font-size: 1rem;
      }

      img {
        height: 24px;
        margin-bottom: 10px;

        &:last-child {
          height: 19px;
        }
      }
    }
  }

  // about AREA START #################
  #about .container {
    .contents {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;

      .content {
        width: 100%;

        img {
          height: 10rem;
        }
      }
    }

    .review {
      &::before {
        left: -10%;
        top: 81%;
        z-index: -1;
      }

      &::after {
        height: 23%;
        left: 89%;
        top: -10%;
      }

      >p {
        font-size: 1.2rem;

        span {
          font-size: 3rem;
        }
      }

      .writer {
        padding: 0 5%;

        .name-platform {
          flex-direction: column;
          align-items: start;

          p {
            margin-bottom: 4px;
          }

          div {
            strong {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }

  // testimonials AREA START #############
  #testimonials .container-fluid {
    .title-group {
      padding: 0 10%;

      &::before {
        top: -28%;
        left: 10%;
      }
    }

    .review-slider .swiper-wrapper .review {
      >p {
        font-size: 1.1rem;
        margin-bottom: 20px;

        span {
          font-size: 4rem;
          margin-bottom: 15px;
        }
      }

      .writer .name-platform {
        align-items: flex-start;
        flex-direction: column;

        p {
          margin-bottom: 4px;
        }
      }
    }
  }

  // features AREA START ################
  #features .container {
    .title-group {
      &::before {
        height: 114px;
        top: -59%;
      }
    }

    .features-group li {
      width: 100%;
    }
  }

  // episodes AREA START ################
  #episodes .container .episodes-cards {
    &::before {
      height: 114px;
      left: 87%;
      top: -1.7%;
    }

    .episodes-card {
      width: 100%;

      .top-box .text-group h3 span {
        font-size: 0.875rem;
      }
    }
  }

  // pricing AREA START #################
  #pricing .container {
    &::before {
      height: 89px;
      left: -10.5%;
      top: -2.5%;
    }

    .pricing-cards {
      &::before {
        left: -10%;
        top: 97%;
      }

      &::after {
        top: -1.5%;
      }

      .pricing-card {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;

        &::before {
          top: 97%;
        }

        &::after {
          top: -1.5%;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .card-top {
          width: 100%;

          .text-group {
            margin-bottom: 30px;

            .pricing-name {
              gap: 20px;
              justify-content: flex-start;
              margin-bottom: 10px;
            }
          }

          .btn-price {
            flex-direction: row;
            align-items: flex-end;
            gap: 20px;

            .btn {
              padding: 1.25rem 1.25rem;

            }

            .price {
              margin-bottom: 0;
            }
          }
        }

        .card-bottom {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  // blog AREA START ###################
  #blog .container {
    flex-direction: column;

    .blog-cards {
      gap: 20px;

      &::before {
        height: 9%;
        left: -8%;
        top: -3%;
      }

      &::after {
        left: 70%;
        top: 79%;
      }

      .blog-card {
        width: 100%;

        img {
          margin-bottom: 20px;
        }

        .text-group h3 {
          font-size: 1.4rem;
        }

        .hashtag-date {
          flex-direction: column;
          align-items: flex-start;

          .hashtag {
            span {
              margin-bottom: 10px;
            }
          }
        }
      }


    }


  }

  // cta AREA START ####################
  #cta {
    padding-bottom: 200px;

    .container-fluid {
      .title-group {
        width: 60%;
        margin-bottom: 52px;
      }

      .left-img {
        width: 45%;

        .phone {
          bottom: -92%;
        }

        .deco-big {
          bottom: -2%;
        }

        .deco-small {
          bottom: 8%;
        }
      }

      .right-img {
        width: 50%;

        .phone {
          bottom: -78%;
        }

        .deco-bundle {
          bottom: -64%;
        }
      }
    }
  }

  // footer AREA START #################
  footer .container {
    .company-sitemap-platform-app {
      .company {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }

      .sitemap ul li {
        width: 50%;
      }

      .platform-app .platform {
        margin-bottom: 40px;

        div {
          flex-direction: column;
          gap: 20px;
          align-items: start;
        }
      }
    }

    .copyright {
      flex-direction: column;
      gap: 10px;
    }

  }

}


// 360px
@media screen and (max-width: 360px) {
  .title-group h2 {
    font-size: 1.4rem;
  }

  #home .container-fluid {
    &::before {
      top: 29%;
    }

    .cover-slider {
      margin-bottom: 90px;
    }

    .support-group img {
      height: 17px;

      &:last-child {
        height: 15px;
      }
    }
  }

  #about .container .review>p {
    font-size: 1.1rem;
  }

  #pricing .container::before {
    height: 67px;
    left: -24%;
    top: -2%;
  }

  #pricing .container .pricing-cards .pricing-card .card-top .text-group .pricing-name h3 {
    font-size: 2rem;
  }

  #blog .container .blog-cards .blog-card .text-group h3 {
    font-size: 1.1rem;
  }

  #cta .container-fluid .left-img .phone {
    bottom: -73%;
  }

  #cta .container-fluid .right-img {
    .phone {
      bottom: -61%;
    }
    .deco-bundle {
      bottom: -57%;
    }
  }
}