@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* font-family: 'GmarketSansBold'; */
/* font-family: 'GmarketSansMedium'; */
/* font-family: 'GmarketSansLight'; */
/* font-family: 'Noto Sans KR', sans-serif; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  /* 62.5% of the base size of 16px = 10px.*/
}

body {
  font-size: 1.6rem;
  font-family: '맑은 고딕', sans-serif;
}

p {
  line-height: 1.5;
  word-break: keep-all;
}

ul,
ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  word-break: keep-all;
}

table,
tr,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

caption {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

/* form */
fieldset {
  border: 0;
}

legend {
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

input,
label {
  vertical-align: middle;
}

input {
  outline: none;
}


/* class ------------------- */
.blind {
  display: none;
}

.clear::after {
  content: ' ';
  display: block;
  clear: both;
}